h1 {
    color: black;
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
    border: white 3px solid;
    border-color: black;
}

h1:hover {
    color: blue;
    box-shadow: 5px 5px 5px yellow;
    text-transform: Gupta;
}

.center {
    img-align: center;
    padding: 20px;
}

  
  

